@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: "Playwrite GB S", serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333 !important;
}

ul li{
    padding: 10px 15px;
}

ul li a{
    font-size: 18px !important;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #555 !important;
}

.navbar-nav .nav-link:hover {
    color: #5C4033 !important;
    font-weight: bold;
}

.search-section {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    margin-top: 10px;
}

.search-section h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #5C4033;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-bar button:hover {
    background-color: #4E3629;
}

.categories {
    margin: 30px auto;
    text-align: center;
    padding: 20px;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.categories .category-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.categories button {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #5C4033;
    background-color: #fff;
    color: #5C4033;
    cursor: pointer;
    border-radius: 20px;
}

.categories button:hover {
    background-color: #5C4033;
    color: #fff;
}

.books {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.book {
    width: 120px;
    text-align: center;
}

.book img {
    width: 100%;
    border-radius: 5px;
}

.book-title {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}